<div ng-show="!authenticated">
    <h1>Zaloguj się!</h1>
    <form>
        <label for="userName">Nazwa użytkownika</label>
        <input id="userName" type="text" ng-model="authCtrl.credentials.username" placeholder="Wpisz nazwę użytkownika"><br>

        <label for="pass">Hasło</label>
        <input id="pass" type="password" ng-model="authCtrl.credentials.password" placeholder="Wpisz hasło">
        <button class="btn btn-primary" ng-click="authCtrl.login()">Zaloguj</button>
    </form>
</div>
<div ng-show="authenticated" class="injection-class">
    <h2>Czy na pewno chcesz się wylogować?</h2>
    <a class="btn btn-primary" href="" ng-click="authCtrl.logout()">Wyloguj się</a>
</div>